.hello-world {
  color: #663399;
}

.carousel {
  overflow: hidden;
  width: 100vw;
}

.carousel-images {
  display: flex;
  width: 100%;
  height: 550px;
  justify-content: space-between;
}

.carousel-item {
  overflow: hidden;
}